@model IEnumerable<Floresta.Models.Payment>
@{
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}
<table class="table">
    <tr>
        <td>User Name</td>
        <td>User Surname</td>
        <td>User Email</td>
        <td>Seedling</td>
        <td>Location</td>
        <td>Amount</td>
        <td>Total Price</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.User.Name</td>
            <td>@item.User.UserSurname</td>
            <td>@item.User.Email</td>
            <td>@item.Seedling.Name</td>
            <td>@item.Marker.Title</td>
            <td>@item.PurchasedAmount</td>
            <td>@item.Price</td>

            <td>
                @if (!item.IsPaymentSucceded)
                {
                    <form asp-action="Purchases" asp-route-id="@item.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-success">
                            Confirm Payment
                        </button>
                    </form>
                }
                else
                {
                    <label class="text-success">Confirmed</label>
                }
            </td>


        </tr>
    }
</table>
